body {
    background-color: #F4D04E;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 24px;
    border: 1px solid;
    border-radius: 24px;
    box-shadow: 8px 8px;
}

.texthelt {
    font-family: Figtree Extra Bold;
    font-family: "Figtree";
    font-size: 24px;
}

.texthelt:hover {
    color: #F4D04E;
}

.text {
    font-family: Figtree Extra Bold;
    font-family: "Figtree";
    font-size: 16px;
    background: #F4D04E;
    width: fit-content;
    padding-left: 12px;
    padding-bottom: 4px;
    padding-right: 12px;
    padding-top: 4px;
    border-radius: 4px;
}

.textone {
    font-family: Figtree Extra Bold;
    font-family: "Figtree";
    font-size: 14px;
}

.hmh {
    display: flex;
    flex-direction: row;
    font-family: "Figtree";
    justify-content: start;
    margin-top: 24px;
    gap: 12px;
    align-items: center;
}

.textt {
    font-family: Figtree Extra Bold;
    font-family: "Figtree";
    font-size: 16px;
    margin: 0px;
}

.textcolo {
    font-family: Figtree Extra Bold;
    font-family: "Figtree";
    font-size: 16px;
    color: #6B6B6B;
}

.man {
    width: 32px;
    height: 32px;
}